# Manipulation de données
pandas
numpy

# Visualisation
matplotlib
seaborn
openpyxl

# Traitement du langage naturel (NLP)
nltk
spacy
scikit-learn

# Notebooks et interface
jupyter
pytest

# Jeux de données
datasets

# Utilitaires supplémentaires
ipython
debugpy